<% if pagy.next %>
  <%= turbo_frame_tag "properties-pagination", 
                      src: properties_path(page: pagy.next, format: :turbo_stream, **params.except(:page, :format).permit!), 
                      loading: :lazy do %>
    <div class="text-center py-4">
      <span class="text-gray-500">Loading more properties...</span>
    </div>
  <% end %>
<% else %>
  <%= turbo_frame_tag "properties-pagination" do %>
    <% if pagy.page == pagy.last %>
      <div class="text-center py-4">
        <span class="text-gray-500">No more properties to load</span>
      </div>
    <% end %>
  <% end %>
<% end %>